@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #213555;
  --color-paragraph: #313957;
  --color-secondary: #4f709c;
  --color-tertiary: #ffc26f;
  --color-whitey: #f8f8f8;
  --color-blacky: #303d3b;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  transition: 0.3s ease;
}

/* Colors */
:root {
  --KashmirBlue: rgba(79, 112, 156, 1);
  --CloudBurst: rgba(33, 53, 85, 1);
  --SafronMango: rgba(255, 194, 111, 1);
  --WhiteLilac: rgba(248, 248, 248, 1);
  --LightGray: rgba(232, 232, 232, 1);
  --DarkGray: rgba(54, 54, 54, 1);
  --SmokeyGray: rgba(115, 115, 115, 1);
}

/* Page Design */
::selection {
  background: var(--CloudBurst);
  color: var(--WhiteLilac);
}
