.login-skewed {
  display: block;
  position: relative;
  width: 100%;
  height: 90vh;
  padding-bottom: 25%;
  transform-origin: 0 100%;
  transform: skewX(-10deg) translatez(1px);
  overflow: hidden;
}
.login-skewed:before {
  content: "";
  position: absolute;
  width: 125%;
  height: 100%;
  background-image: url("/images/loginSignup.jpg");
  background-size: cover;
  background-position: center;
  transform-origin: inherit;
  transform: skewX(10deg);
}

.signup-skewed {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 25%;
  transform-origin: 100% 0;
  transform: skewX(8deg) translatez(1px);
  overflow: hidden;
}
.signup-skewed:before {
  content: "";
  position: absolute;
  width: 125%;
  height: 100%;
  background-image: url("/images/loginSignup.jpg");
  background-size: cover;
  background-position: center;
  transform-origin: inherit;
  transform: skewX(-8deg);
}
